<div class="headericon"><img [src]="mart" /></div>

<div>
  <div class="fruitlist">
    <app-fruit
      *ngFor="let i of fruits"
      [fruit]="i"
      (fruitClicked)="addCart($event)"
    ></app-fruit>
  </div>

  <div class="displaylist">
    <form [formGroup]="form" (ngSubmit)="checkOut()">
      <div
        class="d-flex justify-content-between"
        style="padding-bottom: 1em; padding-top: 1em"
      >
        <h2>Delivery</h2>
        <button
          type="submit"
          class="btn btn-primary"
          style="
            background-color: maroon;
            color: mintcream;
            border-color: maroon;
            font-weight: bold;
          "
          [disabled]="form.invalid"
        >
          Checkout
        </button>
      </div>
      <div class="delivery">
        <div class="form-group">
          <label for="name" class="form-label">Name: </label>
          <input
            type="text"
            id="name"
            class="form-control"
            style="text-align: left"
            formControlName="name"
          />
        </div>

        <div class="form-group">
          <label for="name" class="form-label">Email: </label>
          <input
            type="email"
            id="email"
            class="form-control"
            style="text-align: left"
            formControlName="email"
          />
        </div>
      </div>

      <table class="table" *ngIf="cart.controls.length > 0">
        <thead>
          <tr>
            <th class="form-header">Fruit</th>
            <th class="form-header">Quantity</th>
          </tr>
        </thead>

        <tbody formArrayName="cart">
          <tr *ngFor="let fg of cart.controls" [formGroup]="fg">
            <td>
              <input type="text" class="form-control" formControlName="fruit" />
            </td>
            <td>
              <input
                type="number"
                class="form-control"
                formControlName="quantity"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
